<div class="container">
  <div class="profile-header">
    <div class="avatar">JJ</div>
    <h2>Jose Julian Hernandez Hernandez</h2>
    <p>julian.hdz&#64;email.com</p>
  </div>
  
  <div class="menu-options">
    <a routerLink="/app/settings" class="menu-item card">
      <i class="bi bi-gear-fill"></i>
      <span>Ajustes</span>
      <i class="bi bi-chevron-right"></i>
    </a>
    <a routerLink="/app/vault" class="menu-item card">
      <i class="bi bi-shield-lock-fill"></i>
      <span>Centro de Seguridad</span>
      <i class="bi bi-chevron-right"></i>
    </a>
    <a routerLink="/app/premium" class="menu-item card">
      <i class="bi bi-gem"></i>
      <span>Spenta Premium</span>
      <i class="bi bi-chevron-right"></i>
    </a>
     <a class="menu-item card">
      <i class="bi bi-box-arrow-right"></i>
      <span>Cerrar Sesión</span>
      <i class="bi bi-chevron-right"></i>
    </a>
  </div>
</div>