<app-header title="Historial Completo" [showBackButton]="true"></app-header>
<div class="container">
  <div class="date-group">
    <p class="date-header">Hoy, 24 de Septiembre</p>
    <div class="card transaction-item">
      <i class="bi bi-cup-straw expense"></i>
      <div class="details">
        <h3>Starbucks</h3>
        <p>Café y Alimentos</p>
      </div>
      <span class="amount expense">-$150.00</span>
    </div>
    <div class="card transaction-item">
      <i class="bi bi-cash-coin income"></i>
      <div class="details">
        <h3>Depósito Nómina</h3>
        <p>Salario</p>
      </div>
      <span class="amount income">+$15,000.00</span>
    </div>
  </div>
</div>