<app-header title="Notificaciones" [showBackButton]="true"></app-header>
<div class="container">
  <div class="notification-item card">
    <div class="icon-container success">
      <i class="bi bi-shield-check"></i>
    </div>
    <div class="details">
      <h3>Transacción Segura</h3>
      <p>Tu pago a "Amazon" de $899.00 fue validado exitosamente.</p>
      <small>Hace 5 minutos</small>
    </div>
  </div>
  <div class="notification-item card">
    <div class="icon-container warning">
      <i class="bi bi-exclamation-triangle"></i>
    </div>
    <div class="details">
      <h3>Alerta de Gasto</h3>
      <p>Has superado tu presupuesto mensual en la categoría "Comida".</p>
      <small>Hace 2 horas</small>
    </div>
  </div>
</div>