<app-header title="Historial de Validaciones" [showBackButton]="true"></app-header>
<div class="container">
  <div class="card history-item">
    <div class="status-indicator success"></div>
    <div class="details">
      <h3>Pago a Amazon</h3>
      <p>$899.00 - Compra en línea</p>
    </div>
    <span class="status-text success">Seguro</span>
  </div>
  <div class="card history-item">
    <div class="status-indicator danger"></div>
    <div class="details">
      <h3>SPEI a Desconocido</h3>
      <p>$5,000.00 - Posible fraude</p>
    </div>
    <span class="status-text danger">Alto Riesgo</span>
  </div>
</div>