<app-header title="Gastos por Categoría" [showBackButton]="true"></app-header>
<div class="container">
  <div class="card category-item">
    <div class="details">
      <h3><i class="bi bi-cup-straw"></i> Comida y Restaurantes</h3>
      <div class="progress-bar">
        <div class="progress" style="width: 75%;"></div>
      </div>
    </div>
    <span class="amount">$4,520.50</span>
  </div>
  <div class="card category-item">
    <div class="details">
      <h3><i class="bi bi-house-door-fill"></i> Vivienda</h3>
      <div class="progress-bar">
        <div class="progress" style="width: 50%;"></div>
      </div>
    </div>
    <span class="amount">$8,000.00</span>
  </div>
</div>